<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支付页面</title>
</head>
<body>
<form action="/pay" method="post">
    <p>账户:<input type="text" name="accountname"></p>
    <p>密码:<input type="password" name="password"></p>
    <!--<p>消费金额:<span th:text="${session.lastPrice}" name="price"></span></p>-->
    <!--<p><a th:href="@{/update(price=${session.lastPrice})}">确认</a></p>
    <p><a href="/reset">取消</a></p>-->
    <!--<p><input type="text" th:value="${session.lastPrice}"></p>-->
    <p><span name="price">本次消费金额为[[${session.lastPrice}]]</span></p>
    <p><input type="submit"></p>
    <p><input type="reset"></p>
</form>
</body>
</html>