<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>地点</th>
        <th>时间</th>
        <th>价格</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${session.list}">
        <!--<td th:text="${ticket.getId()}">id</td>
        <td th:text="${ticket.getPlace()}">place</td>
        <td th:text="${ticket.getTime()}">time</td>
        <td th:text="${ticket.getPrice()}">price</td>
        <th><button>确认</button></th>-->
        <td id="id">[[${ticket.getId()}]]</td>
        <td id="place">[[${ticket.getPlace()}]]</td>
        <td id="time">[[${ticket.getTime()}]]</td>
        <td id="price">[[${ticket.getPrice()}]]</td>
        <td><a th:href="@{/order(place=${ticket.getPlace()},time=${ticket.getTime()},price=${ticket.getPrice()})}">下订单</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>